*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:black;
}
.nav-bar{
    display: flex;
    align-items: center;
    border: solid 1px;
    width: 100%;
    height: 50%;
    background-color:black;
    z-index: 10;
}
.nav-bar img{
    margin-left: 600px;
    z-index: 30;
}
.nav-left{
    padding: 25px;
    padding-left: 100px;
    display: flex;
    gap: 20px;
    height: 30px;
    width: 40px;
    align-items: center;
}
.nav-left button{
    z-index: 20;
    border: none;
    padding: 8px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-left button:hover{
    background-color: #414a4c;
    cursor: pointer;
}
.provider{
    border: none;
    padding: 8px;
    padding-right: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.provider:hover{
    background-color: #414a4c;
    cursor: pointer;
}
.nav-right{
    display: flex;
    gap: 20px;
    margin-right: 100px;
    padding-right: 100px;
    margin-left: 250px;
    z-index: 30;
}
.nav-right i{
    flex-direction: row;
    border: none;
    color: white;
    padding: 8px;
    padding-bottom: -2px;
    font-size: 15px;
}
.nav-right i:hover{
    background-color: #414a4c;
    cursor: pointer;
}
.login button{
    border: none;
    font-size: 20px;
    padding-right: 90px;
    width: 60px;background-color: black;
    height: 40px;
}
.login button:hover{
    background-color: #414a4c;
}
.login i{
    position: relative;
    top: 5px;
    height: 20px;
    width: 20px;
    padding-top: 2px;
    font-size: 25px;
    padding-bottom: 2px;
}
.login .log{
    position: relative;
    bottom: 20px;
    left: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-left: 30px;
}
.section{
    height: 100vh;
    width: 100%;
}
.section video{
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    object-fit: cover;
    z-index: 1;
    margin-top: -1.6%;
    top: 0;
    left: 0;
}
.section .text{
    position: absolute;
    top: 150px;
    left: 80px;
    color: white;
    z-index: 3;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
}
.section .s-text{
    font-size: 20px;
    font-weight: lighter;
}
.section .learn-more{
    position: absolute;
    top: 530px;
    right:1290px;
    padding: 18px;
    height: 60px;
    width: 150px;
    border: none;
    z-index: 2;
    background-color: red;
    color: white;
    font-weight: bold;
}
.recom{
    margin-top: -30px;
    border: none;
    width: 100%;
    height: 1380px;
    background-color: black;
}
.recom h2{
    font-size: 50px;
    padding-left: 100px;
    color: white;
}
.car1{
    margin-top: 30px;
    border: solid 1px gray;
    width: 55%;
    height: 580px;
    border-radius: 10px;
    margin-left: 100px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.car1 img{
    display: inline-block;
    border: none;
    border-radius: 10px 10px 0px 0px;
    z-index: -1;
    width: 100%;
    height: 500px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
}
.car1 h2{
    border:none;
    width: 97.8%;
    height: 24%;
    background-color: black;
    position: relative;
    bottom: 110px;
    padding-left: 20px;
    font-size: 33px;
    padding-top: 10px;
    color: white;
    z-index: 1;
}
.car1 span{
    padding-left: 20px;
    position: relative;
    bottom: 210px;
    color: white;
    z-index: 1;
}
.car1 button{
    right: 120px;
    position: relative;
    bottom: 147px;
    z-index: 1;
    color: white;
    font-weight: bold;
    width: 140px;
    height: 45px;
    line-height: 10px;
}
.learn-more{
    text-align: center;
    position: relative;
    right: 20px;
    padding: 18px;
    height: 50px;
    width: 150px;
    border: none;
    background-color: red;
    color: white;
    font-weight: bold;
}
.car2{
    margin-top: 2%;
    z-index: 1;
    border: solid 1px yellow;
    width: 30%;
    height: 580px;
}
.car2 h2{
    color: white;
    z-index: 2;
    font-size: 33px;
    background-color: black;
    width: 100%;
    padding-top: 5%;
    height: 10%;
    bottom: 10%;
    position: relative;
    left: -16%;
}
.car2 p{
    position: relative;
    padding-left: 6%;
    top: -3%;
    color: white;
}
.car2 button{
    border: none;
    color: white;
    background-color: red;
    position: relative;
    top: 1.5%;
    left: 6%;
    font-size: 90%;
    text-align: center;
    padding: 10px;
    height: 48px;
    width: 190px;
    font-weight: bold;
}
.car2 a{
    font-size: 115%;
    color: white;
    text-decoration: none;
}
.learn-more-link{
position: relative;
    display: inline-block;
    left: 11%;
    top: 1%;
}
.learn-more-line{
    position: absolute;
    left: 0%;
    top: 100%;
    margin-top: 8px;
    height: 1px;
    width: 100%;
    background-color: gray;
    z-index: 10;
}
.learn-more-line:hover{
    background-color: white;
}
.car{
    border: solid 1px gray;
    border-radius: 2px;
    overflow: hidden;
    height: 580px;
    margin-top: 50px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.car2 img{
    display: block;
    width: 100%;
    height: 68%;
}
.car-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
}
.car3{
    border: solid 1px gray;
    width: 27.4%;
    margin-left: 6.5%;
}
.car3 img{
    width: 100%;
    height: 68%;
    margin-top: -8%;
}
.car3 h2{
    border:none;
    width: 100%;
    height: 15%;
    background-color: black;
    position: relative;
    bottom: 11px;
    padding-left:6%;
    justify-content: center;
    font-size: 30px;
    padding-top: 15px;
    color: white;
    z-index: 1;
}
.car3 p{
    position: relative;
    padding-left: 6%;
    top: -2.5%;
    color: white;
    z-index: 3;
}
.car3 button{
    border: none;
    color: white;
    background-color: red;
    position: relative;
    top: 2%;
    left: 6%;
    font-size: 90%;
    text-align: center;
    padding: 10px;
    height: 48px;
    width: 190px;
    font-weight: bold;
}
.car3 a{
    font-size: 115%;
    color: white;
    text-decoration: none;
}
.car4{
    width: 27.4%;
}
.car4 img{
    width: 100%;
    height: 68%;
    margin-top: -8%;
}
.car4 h2{
    border:none;
    width: 100%;
    height: 15%;
    background-color: black;
    position: relative;
    bottom: 11px;
    padding-left:6%;
    justify-content: center;
    font-size: 30px;
    padding-top: 15px;
    color: white;
    z-index: 1;
}
.car4 p{
    position: relative;
    padding-left: 6%;
    top: -2.5%;
    color: white;
    z-index: 3;
}
.car4 button{
    border: none;
    color: white;
    background-color: red;
    position: relative;
    top: 2%;
    left: 6%;
    font-size: 90%;
    text-align: center;
    padding: 10px;
    height: 48px;
    width: 190px;
    font-weight: bold;
}
.car4 a{
    font-size: 115%;
    color: white;
    text-decoration: none;
}
.car5{
    width: 27.4%;
}
.car5 img{
    width: 100%;
    height: 68%;
    margin-top: -8%;
}
.car5 h2{
    border:none;
    width: 100%;
    height: 15%;
    background-color: black;
    position: relative;
    bottom: 45px;
    padding-left:6%;
    justify-content: center;
    font-size: 30px;
    padding-top: 15px;
    color: white;
    z-index: 1;
}
.car5 p{
    position: relative;
    padding-left: 6%;
    top: -2.5%;
    color: white;
    z-index: 3;
}
.car5 button{
    border: none;
    color: white;
    background-color: red;
    position: relative;
    top: 2%;
    left: 6%;
    font-size: 90%;
    text-align: center;
    padding: 10px;
    height: 48px;
    width: 140px;
    font-weight: bold;
}
.car5 a{
    font-size: 115%;
    color: white;
    text-decoration: none;
}
.service{
    border: none;
    width: 100%;
    height: 800px;
    background-color: black;
}
.service h2{
    color: white;
    font-size: 43px;
    padding-left: 100px;
}
.service-cards{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
}
.serv{
    border: none;
    width: 42%;
    height: 550px;
}
.serv img{
    width: 100%;
}
.service1{
    margin-left: 7%;
}
.service1 h4{
    font-size: 108%;
    padding-top: 5%;
    color: white;
}
.service1 p{
    padding-top: 2%;
    color: white;
    font-size: 110%;
    line-height: 150%;
}
.service1 button{
    border: solid 1px gray;
    background-color: black;
    color: white;
    width: 25%;
    padding: 2%;
    font-weight: bold;
    font-size: 97%;
    margin-top: 4%;
}
.service2{
    margin-right: 5.5%;
}
.service2 h4{
    font-size: 108%;
    padding-top: 5%;
    color: white;
}
.service2 p{
    padding-top: 2%;
    color: white;
    font-size: 110%;
    width: 95%;
    line-height: 150%;
}
.service2 button{
    border: solid 1px gray;
    background-color: black;
    color: white;
    width: 42%;
    padding: 2%;
    font-weight: bold;
    font-size: 97%;
    margin-top: 4%;
}
.exp-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    margin-right: 5.5%;
    margin-left: 7%;
    border: none;
    width: 93%;
    height: 1800px;
    background-color: black;
}
.exp-card1{
    margin-top: 8%;
}
.exp-card1 img{
    width: 100%;
}
.exp-card2{
    margin-top: 8%;
}
.exp-cards h2{
    margin-left: -5%;
    width: 80%;
    font-size: 280%;
    padding-top: 18%;
}
.exp-cards p{
    color: white;
    padding-left: 11%;
    padding-right: 5%;
    padding-top: 4%;
    line-height: 170%;
}
.exp-card2 button{
    border: none;
    font-weight: bolder;
    height: 48px;
    width: 28%;
    margin-left: 11%;
    font-weight: 100%;
    margin-top: 7%;
    color: white;
    background-color: red;
}
.exp-card3 button{
    border: none;
    font-weight: bolder;
    height: 48px;
    width: 25%;
    font-size: 100%;
    margin-left: 11%;
    margin-top: 7%;
    color: white;
    background-color: red;
}
.exp-card6 button{
    border: none;
    font-weight: bolder;
    height: 48px;
    width: 40%;
    font-size: 100%;
    margin-left: 11%;
    margin-top: 7%;
    color: white;
    background-color: red;
}
.exp-card4 img{
    width: 100%;
}
.exp-card5 img{
    width: 100%;
}
.disclaimer h3{
    padding-top: 2%;
    color: white;
    padding-left: 7%;
}
.disclaimer{
    height: 200px;
    color: white;
}
.disclaimer p{
    padding-top: 2%;
    font-size: 60%;
    padding-left: 7%;
}

.exp{
    border: none;
    width: 42%;
    height: 477px;
}
.last-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3%;
    height: 500px;
    margin-right: 5.5%;
    margin-left: 7%;
}
.last1 i{
    padding-left: 45%;
    padding-top: 23%;
    font-size: 160%;
    color: white;
}
.last1 h3{
    padding-top: 3%;
    padding-left: 20%;
    width: 60%;
    text-align: center;
    color: white;
    line-height: 130%;
}
.last1 p{
    color: white;
    width: 60%;
    text-align: center;
    padding-left: 20%;
    padding-top: 2%;
    line-height: 150%;
}
.last2 i{
    padding-left: 45%;
    padding-top: 23%;
    font-size: 160%;
    color: white;
}
.last2 h3{
    padding-top: 3%;
    padding-left: 20%;
    width: 60%;
    text-align: center;
    color: white;
    line-height: 130%;
}
.last2 p{
    color: white;
    width: 50%;
    text-align: center;
    padding-left: 25%;
    padding-top: 2%;
    line-height: 150%;
}
.last3 i{
    padding-left: 45%;
    padding-top: 23%;
    font-size: 160%;
    color: white;
}
.last3 h3{
    padding-top: 3%;
    padding-left: 20%;
    width: 60%;
    text-align: center;
    color: white;
    line-height: 130%;
}
.last3 p{
    color: white;
    width: 50%;
    text-align: center;
    padding-left: 25%;
    padding-top: 2%;
    line-height: 150%;
}
.last4 i{
    padding-left: 45%;
    padding-top: 23%;
    font-size: 160%;
    color: white;
}
.last4 h3{
    padding-top: 3%;
    padding-left: 20%;
    width: 60%;
    text-align: center;
    color: white;
    line-height: 130%;
}
.last4 p{
    color: white;
    width: 50%;
    text-align: center;
    padding-left: 25%;
    padding-top: 2%;
    line-height: 150%;
}
.last{
    border:none;
    width: 22.6%;
    height: 290px;
    background-color: rgb(73, 73, 73);
}
footer{
    display: flex;
    flex-wrap: wrap;
    gap: 13%;
    color: white;
    width: 100%;
    height: 700px;
}
footer h3{
    padding-top: 20%;
    margin-bottom: 8%;
}
.foot li{
    margin-left: 75%;
}
.foot3 li{
margin-left: -60%;
}
.foot4 li{
    margin-left: -120%;
}
.foot5{
    margin-left: -20%;
}
.foot6{
    margin-left: -8%;
}
footer li{
    line-height: 250%;
    width: 100%;
    list-style: none;
}
.line-space{
    display: block;
    margin-top: -10%;
}
.foot4 .line-space{
    margin-top: -10%;
}
hr{
    height: .1px;
    width: 87%;
    background-color: gray;
    margin-left: 7%;
}
footer a{
    text-decoration: none;
    color: white;
    opacity: .7;
    font-size: 90%;
}
.last-foot-left{
    margin-top: -5%;
    margin-left: 7%;
    border: none;
    width: 60%;
    height: 100px;
    font-size: 108%;
    line-height: 280%;
}
.last-foot-left .ll{
    padding-left: 5%;
}
.last-foot-right{
    margin-top: -4%;
    display: flex;
    gap: 18%;
    font-size: 180%;
    margin-left: -4%;
}